<h1>My name is {{character?.name || "Doe"}}</h1>
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Who is a {{character?.descriptor?.name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{character?.descriptor?.description}}</p>
    <ul>
      <li *ngFor="let benefit of character?.descriptor?.benefits">
        <div>
          <b>{{ benefit.name }}</b>
        </div>
        <div>
          {{benefit.description}}
        </div>
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{character?.type?.name || "nobody"}}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{character?.type?.description}}</p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Who {{character?.focus?.name || "can do nothing"}}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{character?.focus?.description}}</p>
  </mat-expansion-panel>

</mat-accordion>