<div>
  <section class="specialized" *ngIf="specialized.length > 0">
    <h3>Specialized</h3>
    <ul>
      <li *ngFor="let skill of specialized">{{ skill }}</li>
    </ul>
  </section>
  
  <section class="trained" *ngIf="trained.length > 0">
    <h3>Trained</h3>
    <ul>
      <li *ngFor="let skill of trained"> {{ skill }} </li>
    </ul>
  </section>
  
  <section class="inability" *ngIf="inabilities.length > 0">
    <h3>Inability</h3>
    <ul>
      <li *ngFor="let skill of inabilities">{{ skill }}</li>
    </ul>
  </section>
  
  <section class="choose" *ngIf="toChooseFrom.length > 0">
    <div *ngFor="let choice of toChooseFrom">
      <h3>choose {{choice.numberOfChoices}}:</h3>
      <ul>
        <li *ngFor="let skill of choice.skills">{{ skill }}</li>
      </ul>
    </div>
  </section>

</div>
