<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Who {{character?.focus?.name || "can do nothing"}}</mat-panel-title>
  </mat-expansion-panel-header>
  <p>{{character?.focus?.description}}</p>

  <mat-accordion *ngIf="character && character.focus">    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Tier abilities:</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let tier of character.focus.tiers">
          <mat-expansion-panel-header>
            <mat-panel-title>Tier {{ tier.level }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let ability of tier.abilities">
            <b>{{ ability.name }}
              <span *ngIf="ability.cost">
                ({{ ability.cost.value }} {{ ability.cost.attribute }} points)
              </span>
            </b>
            {{ ability.description }}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</mat-expansion-panel>
