<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="stats">
  <h1>Pool</h1>
  <div class="stat">
    <h4>Might</h4>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>remove</mat-icon>
    </button>
    <div class="might">{{might}}</div>
  </div>
  
  <div class="stat">
    <h4>Speed</h4>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>remove</mat-icon>
    </button>
    <div class="speed">{{speed}}</div>
  </div>
  
  <div class="stat">
    <h4>Intellect</h4>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>remove</mat-icon>
    </button>
    <div class="intellect">{{intellect}}</div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="pools">
  <h1>Edge</h1>
  <div class="pool">
    <h4>Might</h4>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>remove</mat-icon>
    </button>
    <div class="mightEdge">{{mightEdge}}</div>
  </div>
  
  <div class="pool">
    <h4>Speed</h4>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>remove</mat-icon>
    </button>
    <div class="speedEdge">{{speedEdge}}</div>
  </div>
  
  <div class="pool">
    <h4>Intellect</h4>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <button>
      <mat-icon>remove</mat-icon>
    </button>
    <div class="intellectEdge">{{intellectEdge}}</div>
  </div>
</div>
