<div class="main">
  <mat-form-field appearance="fill">
    <mat-label>I am</mat-label>
    <input matInput [(ngModel)]="name" (ngModelChange)="onChangeName($event)" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Who is a</mat-label>
    <mat-select (selectionChange)="onChangeDesc($event)">
      <mat-option *ngFor="let desc of masterdata?.descriptors | async" [value]="desc">
        {{desc.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label *ngIf="!type">Type</mat-label>
    <mat-select (selectionChange)="onChangeType($event)">
      <mat-option *ngFor="let type of masterdata?.types | async" [value]="type">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Who</mat-label>
    <mat-select (selectionChange)="onChangeFocus($event)">
      <mat-option *ngFor="let focus of masterdata?.focus | async" [value]="focus">
        {{focus.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>