<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="stats">
  <h1>Pool</h1>
  <app-stat [value]="might" [header]="headerMight"></app-stat>
  <app-stat [value]="speed" [header]="headerSpeed"></app-stat>
  <app-stat [value]="intellect" [header]="headerInt"></app-stat>

<mat-divider></mat-divider>

<div class="pools">
  <h1>Edge</h1>
  <app-stat [value]="mightEdge" [header]="headerMight"></app-stat>
  <app-stat [value]="speedEdge" [header]="headerSpeed"></app-stat>
  <app-stat [value]="intellectEdge" [header]="headerInt"></app-stat>
</div>
