<section>
  <h1>Pool</h1>
  <app-attribute label="Might" (valueChanged)="onMightChanged($event)" [value]="this.might" [min]=0></app-attribute>
  <app-attribute label="Speed" (valueChanged)="onSpeedChanged($event)" [value]="this.speed" [min]=0></app-attribute>
  <app-attribute label="Intellect" (valueChanged)="onIntellectChanged($event)" [value]="this.intellect" [min]=0></app-attribute>
</section>

<section>
  <h1>Edge</h1>
  <app-attribute label="Might" (valueChanged)="onMightEdgeChanged($event)" [value]="this.mightEdge" [min]=0></app-attribute>
  <app-attribute label="Speed" (valueChanged)="onSpeedEdgeChanged($event)" [value]="this.speedEdge" [min]=0></app-attribute>
  <app-attribute label="Intellect" (valueChanged)="onIntellectEdgeChanged($event)" [value]="this.intellectEdge" [min]=0></app-attribute>
</section>