<h1>Numenera Character Creator</h1>
<mat-grid-list cols="4">
  <mat-grid-tile colspan=3 style="background-color: bisque;">
    <app-main-panel></app-main-panel>
  </mat-grid-tile>
  <mat-grid-tile rowspan=4 style="background-color: blueviolet;">
    <app-info-panel></app-info-panel>
  </mat-grid-tile>
  <mat-grid-tile colspan=3 style="background-color: hotpink;">
    <app-stats-panel></app-stats-panel>
  </mat-grid-tile>
  <mat-grid-tile colspan=3 style="background-color: chocolate;">
    <app-skills-panel></app-skills-panel>
  </mat-grid-tile>
  <mat-grid-tile colspan=3 style="background-color: gold;">
    <app-abilities-panel style="width: 80%;"></app-abilities-panel>
  </mat-grid-tile>
</mat-grid-list>